html,
body,
#header,
.story-wrapper,
.food-wrapper {
  height: 100vh;
}

.spacer {
  margin-top: 40px;
}

.section-wrapper {
  padding-bottom: 2em;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}

// HEADER
.header-wrapper {
  #header {
    background: url(../images/coconut_buttercream_macarons.jpg) no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  // Navbar collapsed color
  .top-nav-collapse {
    background-color: #24355c;
  }
}

// ABOUT SECTION
.story-wrapper {
  min-height: 200px;
  background-color: lightblue;
  .container {
    padding: 6em;
  }

  img {
    width: 300px;
  }
}

// FOOD SECTION
.food-wrapper {
  width: 100%;
  padding: 1em;

  .row {
    padding: 1em 0;

    .carousel-outer-wrapper {
      max-width: 400px;

      .carousel-wrapper {
        width: 325px;
        border: 1px solid;
        padding: 1em;
        box-shadow: 5px 10px #888888;

        .img-size img {
          width: auto;
          height: 400px;
          max-height: 400px;
        }
      }
    }
  }

  @media (max-width: 992px) {
    height: 180vh;
    .column-wrapper {
      margin: 1em 0;
    }
  }
}

// TESTIMONIALS SECTION
.testimonials-wrapper {
  .card {
    box-shadow: none;
    padding: 1.25em;

    .card-img-top {
      padding-left: 20%;
      padding-right: 20%;
    }

    .fa-star,
    .fa-star-half-alt {
      color: orange;
    }
  }
}

// CONTACT SECTION
#map-container {
  @media (max-width: 768px) {
    display: none;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    margin-left: 5em;
  }
}
