html,
body,
header,
#intro,
#story {
  height: 100vh;
}

#intro {
  background: url(../images/coconut_buttercream_macarons.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Navbar */
.top-nav-collapse {
  background-color: #24355c;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}

// ABOUT
.story-wrapper {
  min-height: 200px;
  background-color: lightblue;
  .container {
    padding: 8em 6em 8em 6em;
  }

  img {
    width: 300px;
  }
}

// FOOD GALLERY
.food-wrapper {
  height: 100vh;
  width: 100%;
  background-color: lighten($color: lightpink, $amount: 10);
  .carousel-wrapper {
    width: 900px;
    height: 1000px;
    overflow: hidden;
  }
  #food-carousel {
    width: 700px;
  }
}
