html,
body,
#header,
.story-wrapper,
.food-wrapper {
  height: 100vh;
}

$default-spacer: 6em;
.spacer {
  padding-top: $default-spacer;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}

// HEADER
.header-wrapper {
  #header {
    background: url(../images/coconut_buttercream_macarons.jpg) no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  // Navbar collapsed color
  .top-nav-collapse {
    background-color: #24355c;
  }
}

// ABOUT SECTION
.story-wrapper {
  background-color: lightblue;

  .spacer {
    padding-top: $default-spacer + 2em;
  }

  @media (max-width: 992px) {
    .spacer {
      padding-top: 0;
    }
  }

  .container {
    max-width: 900px;

    .story-text {
      padding: 0 3em;
      .spacer {
        padding-top: $default-spacer - 4em;
      }
    }

    .center-y {
      min-height: 100px;
      display: flex;
      align-items: center;
    }
  }

  img {
    width: 250px;
  }
}

// FOOD SECTION
.food-wrapper {
  .carousel-outer-wrapper {
    max-width: 400px;

    .carousel-wrapper {
      width: 325px;
      border: 1px solid;
      padding: 1em;
      box-shadow: 5px 10px #888888;

      .img-size img {
        width: auto;
        height: 400px;
        max-height: 400px;
      }
    }
  }

  @media (max-width: 992px) {
    height: 160vh;
    .column-wrapper {
      margin: 1em 0;
    }
  }
}

// TESTIMONIALS SECTION
.testimonials-wrapper {
  .spacer {
    padding-top: $default-spacer - 4em;
  }

  .card {
    box-shadow: none;
    padding: 1.25em;

    .card-img-top {
      padding-left: 20%;
      padding-right: 20%;
    }

    .fa-star,
    .fa-star-half-alt {
      color: orange;
    }
  }
}

// ART SECTION
.art-wrapper {
  .spacer {
    padding-top: $default-spacer - 5em;
  }
}

// CONTACT SECTION
.contact-wrapper {
  #map-container {
    @media (max-width: 768px) {
      display: none;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      margin-left: 5em;
    }
  }
}
